In [2]:
# Однострочный коментартор

print('Hello, World')

Hello, World

In [3]:
print('Hello, world')

Hello, world

In [4]:
print('Hello','world')

Hello world

In [5]:
print('Hello' +'world')

Helloworld

In [6]:
nums = [1,2,3,4,5]
total = 0
for num in nums:
    total += num
print(total)

15

In [7]:
nums = [3,8,1,9,4]
max_num = nums[0]
for num in nums:
    if num > max_num:
        max_num = num
print(max_num)

9

In [8]:
n = 5 
factarial = 1
for i in range(1,1+n):
    factarial *= i
print(factarial)

120

# Вводные данные для изучения Юнита
### Цели: 
начнём знакомство с основополагающей темой изучения любого языка программирования — переменнымы.

закрепим знания по выводу информации на экран с помощью print();

узнаем, как организовать интерактивный режим выполнения программы с помощью запроса данных от пользователя.

In [9]:
name = 'John'

a = "Hello"
b = "panda"
c = 51

print(name,a,b,c)

John Hello panda 51

### Правила именования переменных: 
1. Название переменной должно состоять только из букв, цифр, знаков подчеркивания_
2. Название переменной не должно начинаься с цифры

In [10]:
name, surname = 'John', 'Lennon'

In [11]:
print(a,b)
a,b = b,a
print(a,b)

Hello panda
panda Hello

In [12]:
name = input()

In [13]:
name = input('Please enter your first name:')

In [14]:
print('hello',name)

hello ллл

In [15]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
age = input("Enter your age:")
city = input("Enter your city of residence:")


print("")
print("Hello,", first_name, last_name, "!")
print("")
print("Your profile:")
print("Age:", age, 'years')
print("City:", city)

Hello, ллл ллл !

Your profile:
Age: лллл years
City: лллл

# Конец Юнита 5
### Мы научились и узнали:
1. Узнали, что такое переменная и для чгео она используется
2. Изучили как можно запросить ввод  информации от пользователя и как вывести (print,input)
3. Потренировались работать с этими функциями

### Типы даных и их классификация Юнит 6
Возможности языка Python позволяют узнавать тип переменной, используя встроенную функцию type().

In [16]:
a = 3.14
print(type(a))

b = '3.14'
print(type(b))

<class 'float'>
<class 'str'>

In [17]:
a,b = 5,10
print(id(a),a)
print(id(b),b)
a = a + b
print(id(a),a)

4337117616 5
4337117776 10
4337117936 15

# Вывод Юнита 6
В этом юните мы рассмотрели какие типы данных бывают, узнали, как они классифицируются

# Юнит 7 Числовые типы данных
### Задачи на юнит: 
Рассмотреть подробно числовы етипы данных их сходства и различия, а также способы преобразования обьектов одного типа в другой

Целые числа int: 73, 0

Числа с плавающей точкой: 3.14 , -2.79

Логические значения: True, False

Сложение + : 7 + 5 = 12

Выячитание - : 7 - 5 = 2

Умножение * : 2 * 3 = 6

Возведенеи в степень ** : 2 ** 4 = 16

Деление / : 5 / 2 = 2.5

Целочисленное деление // : 7 // 5 = 1

Остаток от деления % : 5 % 3 = 2

# целочисленное деление отрицательное Формула
a / b = q(r)
a = b * q + r
b = a - r / q

In [18]:
-5 // 2

-3

In [19]:
a = 5
b = 2
q = a // b  # q = 2
r = a % b #r = 1

In [20]:
a = -5
b = 2
q = a // b # хочется получить 2, как и в прошлый раз, но q = -3
r = a % b # а остаток остался тот же, r = 1

In [21]:
a = 5.4321
print(a)
# 5.4321
print(a**100)
# 3.138886636534116e+73

5.4321
3.138886636534116e+73

[мантисса]e[показатель_степени_числа 10]

In [22]:
a = 5.4321**100 # 3.138886636534116e+73

print(a*100) # мантисса осталась прежней, а степень увеличилась на 2
# 3.138886636534116e+75

print(a*1000) # аналогично, только степень увеличилась уже на 3
# 3.138886636534116e+76

print(a/100) # снова мантисса не меняется, а степень уже уменьшилась
# 3.138886636534116e+71

print(a/1000) # как, наверное, уже ожидаемо, степень снова уменьшилась
# 3.138886636534116e+70

3.138886636534116e+75
3.138886636534116e+76
3.138886636534116e+71
3.138886636534116e+70

Обход точности с высчислением после 16 знаков

Для обхода этой проблемы, если необходимо использовать более точные вычисления, могут использоваться классы Fraction и Decimal.

In [23]:
print(1.00+0.01-3.01)

-1.9999999999999998

# Округлениче чисел
round([выражение],n) - где n колличество знаков после запятой до которых необходимо округлить

In [24]:
print(round(1.00+0.01-3.01))

-2

In [25]:
print(round(11 * 2.5/3,2))

9.17

In [26]:
pi = 3.14159
print(round(pi**2/2))

5

In [27]:
t = True
f = False

print(3 > 10)
print(3 < 10)
print(3 == 10)

False
True
False

In [28]:
print(1.57 * 3/1.5 == 3.14)
print(3**3 -3*(6*3-4.5*2)==1)

True
False

# Итоги Юнита 7
### Научились: 
1. Подробно рассмотрели числовой тип данных и его подтипы: int(целое число), float(число с плавающей точкой) и bool(логический тип данных)
2. Узнали, какие опеарации есть для каждого из этих типов и как выполнять коругление с заданной точностью

# Юнит 8 Типы данных: строки
### Цели 
Познакомиться с типом данных строки более подробно и изучить их

In [29]:
s1 = 'hello' # используя апострофы
s2 = "hello" # используя кавычки
s3 = '''Hello!
        Have a nice day!''' # используя тройные "апострофы" или тройные кавычки

In [30]:
print(s1[0])
print(s1[-1])

h
o

### Срезы 
Концепция срезов такая : [начало:конец:шаг]

где начало — это индекс первого символа подстроки;

конец — индекс символа, следующего сразу после подстроки (важно запомнить: символ с указанным индексом сам не включается в подстроку, то есть если вам надо сделать срез по пятый символ включительно, то здесь надо указать значение 6);

шаг — позволяет извлекать не все элементы, а, например, следующие через один друг за другом, через два и т.д.

In [31]:
print(s1[2:])
print(s1[:4])
print()
print(s1[::2])
print(s1[::-1])
print(s1[-1])
print(s1[-3:-1])

llo
hell

hlo
olleh
o
ll

### Встроенная функция len() - позволяет узнать длинну строки

In [32]:
s = 'Hel' + 'lo_'
print(s)

print(s*3)

print(len(s))

Hello_
Hello_Hello_Hello_
6

# Методы строки

### Метод find(substr)

In [33]:
print(s)
print(s.find('o')) # возвращает индекс
print(s.find('ll')) # в случае подстроки возвращает индекс первого символа
print(s.find('l')) # Если символ или подстрока встречаются несколько раз, 
                   # то возвращается индекс первого вхождения

Hello_
4
2
2

### Методы isdigit(), isalpha(), isalnum()

In [34]:
print(s.isdigit()) # строка состоит только из цифр?
print(s.isalpha()) # строка состоит только из букв?
print(s.isalnum()) # строка состоит только из цифр и букв?

False
False
False

### Методы upper(), lower()

In [35]:
print(s.lower()) # опускает все символы
print(s.upper()) # возвышает все символы

hello_
HELLO_

### Метод split()
\n — символ переноса строки;

\t — символ горизонтальной табуляции;

\v — символ вертикальной табуляции.

In [36]:
colors = 'red blue green'
print(colors.split()) # делит строку по значению внутри split() по базе пробел

['red', 'blue', 'green']

In [37]:
print(colors.split()[1])

blue

In [38]:
animal = 'bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1'
print(animal.split(','))
poem = '''Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth.'''
print(poem.split('\n'))

['bear', '1', '0', '0', '1', '0', '0', '1', '1', '1', '1', '0', '0', '4', '0', '0', '1', '1']
['Two roads diverged in a yellow wood,', 'And sorry I could not travel both', 'And be one traveler, long I stood', 'And looked down one as far as I could', 'To where it bent in the undergrowth.']

### Метод join()  - j обьединение строк

In [39]:
colors  = 'red blue green'
colors_split = colors.split()
colors_joined = ' and '.join(colors_split)
print(colors_joined)

red and blue and green

In [40]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.setdefault(10,1)
place_and_money

{1: 100, 2: 50, 3: 10, 10: 1}

In [41]:
numbers = '1 2 3 4 5 6 7'
print('\n'.join(numbers.split()))

1
2
3
4
5
6
7

### Метод подстановки в строки переменных и данных с помощью: 
1. с помощью оператора %
2. методом format()
3. f-строками(форматированные строки)

In [42]:
#print('The {} currency rate on the date {} is {}'.format(currency, cur_date))

# Явное и неявное преобразование

In [43]:
b = float('125.13')
c = 18.9
print(b + c)

144.03

In [44]:
d = 12942021.24910
d_str = str(d)
print(d_str.split('.')[0])

12942021

In [45]:
advertisement = 'Refrigerator service life: 9 years 3 months'
advertisement_splited = advertisement.split()
advertisement_splited
print(int(advertisement_splited[3])*12 + int(advertisement_splited[5]))

111

В этом юните мы научились :
1. Изучили строковый тип данных и попробовали поработать с ним
2. Узнали, что такое срезы строк и научились их применять 
3. Рассмотрели основные методы работы со строками
4. Научились форматировать строки несколькими способами
5. Узнали как преоборазовывать числа в строки и наоборот

In [46]:
salary = '29000 руб.'
salary = '35000 руб.'
salary = '128500 руб.'
salary_number = int(salary.split()[0])/1000
salary_number

128.5

In [47]:
experience = 'Work experience 202 months'
experience = 'Work experience 60 months'
experience = 'Work experience 4 months'

experience_year = int(experience.split()[2]) // 12
experience_month = int(experience.split()[2]) % 12
experience_month

4

In [48]:
description = 'Male , 38 years old , born on June 25 , 1980'

description_split = description.split(' , ')
description_split

['Male', '38 years old', 'born on June 25', '1980']

# Тип данных LIST

In [49]:
my_list = list()
type(my_list)
my_list_1 = []
type(my_list_1)

empty_type = []
print(empty_type)
another_empty_list = list()
print(another_empty_list)

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)

vowels = ['a', 'e', 'i', 'o', 'u', 'y']
print(vowels)

languages = ['Java', 'C', 'Python', 'C++', 'Visual Basic.NET']
print(languages)

[]
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['a', 'e', 'i', 'o', 'u', 'y']
['Java', 'C', 'Python', 'C++', 'Visual Basic.NET']

In [50]:
a = range(1,10)
print(a)
print(list(a))
b = range(10)
print(list(b))
c = range(1,10,3)
print(list(c))
d = range(10,1,-2)
print(list(d))

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7]
[10, 8, 6, 4, 2]

In [51]:
b = list(range(50,20,-2))
b

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22]

# Серзы списка

In [52]:
a = ["a", "b", "c"]
print(a[0])

print(a[2])
print(a[-1])

a
c
c

In [53]:
a = ["a", "b", "c", "d", "e"]
print(a[::2]) # указаание шага среза
print(a[:2]) # до какого знака будет срез от нулоевого значения
print(a[0:4]) # c какого и до какого знака будет срез

b = a[::-1] # развернуть список с шагом минус 1
print(b)

['a', 'c', 'e']
['a', 'b']
['a', 'b', 'c', 'd']
['e', 'd', 'c', 'b', 'a']

In [54]:
a = list(range(-5,5))
print(a[4:9])
a = list(range(-3,6))
print(a[::-1])

split_hello = 'hello kitty'
a = split_hello.split()[-2:]
print(a)

[-1, 0, 1, 2, 3]
[5, 4, 3, 2, 1, 0, -1, -2, -3]
['hello', 'kitty']

# .APPEND()

In [55]:
orders_daily = [] 
orders_daily.append('order_1')
print(orders_daily)

['order_1']

In [56]:
a,b,c = 'order_1', 'order_2', 'order_3'
orders = []
orders.append(a)
orders.append(b)
orders.append(c)
print(orders)

book_1 , book_2 = 'my_book', 'your_book'
books = ['all_books']
books.append(book_1)
books.append(book_2)
print(books)

['order_1', 'order_2', 'order_3']
['all_books', 'my_book', 'your_book']

# .CLEAR()

In [57]:
a = ["order1", "order2", "order3", "order4"]
a.clear()
print(a)
letters = ['a','m','b','c']
letters.clear()
print(letters)

[]
[]

# .COUNT()

In [58]:
a = ["a", "b", "c", "d", "b", "b", "g", "b", "r"]
print(a.count('a'),a.count('b'),a.count('c'))

1 4 1

# .COPY() , [:]

In [59]:
a = list(range(2,5))
b = a.copy()
c = a[:]
print(b,c)

[2, 3, 4] [2, 3, 4]

# .EXTEND()

In [60]:
a = ["a", "b", "c"]
b = ["d", "e"]
a.extend(b)
print(a, type(a))

all_things = ['order1', 'order2', 'order3']
only_books = ['book1', 'book2']
all_things.extend(only_books)
print(all_things)

['a', 'b', 'c', 'd', 'e'] <class 'list'>
['order1', 'order2', 'order3', 'book1', 'book2']

# .REVERSE() , [::-1]

In [61]:
a = [1,2,3,4,5]
b = a[::-1]
a.reverse()
print(a,b)

[5, 4, 3, 2, 1] [5, 4, 3, 2, 1]

# .SORT()

In [62]:
a = [3,4,1,5,10,0, 2]
a.sort()
print(a)

random_values = [3, 5, 0, -1, 2, 10, 15, -5]
random_values.sort()
print(random_values)

[0, 1, 2, 3, 4, 5, 10]
[-5, -1, 0, 2, 3, 5, 10, 15]

In [63]:
list1 = [[1,2,3], [4,5,6], [7,8,9]]
list2 = [[3,2,4], (3,4), "5.6", 7]
list1.extend(list2)
print(list1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [3, 2, 4], (3, 4), '5.6', 7]

In [64]:
list1 = [5, 0.2, 'hello there', [1,2,3,4], 'bye']
print(list1)

[5, 0.2, 'hello there', [1, 2, 3, 4], 'bye']

# Кортежи

In [65]:
a = (1,3,4,5,6)
b = [1,3,4,5,6]
print(a.__sizeof__())
print(b.__sizeof__())

tpl = tuple()
print(tpl)
tpl_space = ()
print(tpl_space)

string = ('s')
tpl_str = ('s',)
print(type(string))
print(type(tpl_space))
tpl = tuple()
tpl1 = 255,
print(type(tpl1),tpl1)
tpl2= (15,22,0)
print(tpl2)

64
104
()
()
<class 'str'>
<class 'tuple'>
<class 'tuple'> (255,)
(15, 22, 0)

# Итог
В этом юните мы узнали:
1. Узнали о такой структуре данных, как список, поняли, как он создается и какие операции над ним можно провести
2. познакомились со вставкой, удалением, подсчетом, расширением списко и т.
3. Изучили, что такое индексация и зачем она нужна
4. Поняли что строки, это списки, но записанные в другом виде
5. Узнали, что именно можно хранить в сипсках: простые(числа, строки), составные(списки, кортежи, словари) структуры данных
6. Изучили сортировку и инвертирование списка
7. Познакомились с кортежами и поняли для чего они нужны и какие операции можно с ними выполнять

# Cловари

In [66]:
phones = {'+79033923029': 'Ivan Ivanov', '+78125849204': 'Kirill Smirnov', '+79053049385': 'Mark Parkhomenko', '+79265748370': 'Ekaterina Dmitrieva', '+79030598495': 'Ruslan Belyi'}
print(phones['+79053049385'])

Mark Parkhomenko

In [67]:
dict_1 = {'a': 1, 'b': 3,'a':5}
dict_1['a']

5

In [68]:
firends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156}
friends_list = list(firends.keys())
print(friends_list)
friends_list.sort()
print(friends_list)

['Kolya', 'Marina', 'Misha', 'Dima', 'Yana', 'Nina']
['Dima', 'Kolya', 'Marina', 'Misha', 'Nina', 'Yana']

In [69]:
my_dict =dict()
print(my_dict)
my_dict_1 = {}
print(my_dict_1)
empty_dict = dict()
empty_dict1 = {}
print(empty_dict, empty_dict1)

alphabet_dict = {'a':1,'b':2,'c':3,'d':4,'e':5}
alphabet_dict['d']

place_and_mone = {1:100, 2:50, 3:10}
place_and_mone[2]

{}
{}
{} {}

50

# Добавление элементов  в словарь

In [70]:
phones['+79265748370'] = 'Ekaterina Ershova'
print(phones)
phones['+79686581788'] = 'Artem Pilev'

{'+79033923029': 'Ivan Ivanov', '+78125849204': 'Kirill Smirnov', '+79053049385': 'Mark Parkhomenko', '+79265748370': 'Ekaterina Ershova', '+79030598495': 'Ruslan Belyi'}

In [71]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money[4] = 5
place_and_money

{1: 100, 2: 50, 3: 10, 4: 5}

In [72]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money[3] = 25
place_and_money

{1: 100, 2: 50, 3: 25}

# .clear() Очищает словарь БЕЗ ВОЗВРАТА(можно использовать присвоение словарем же)

In [73]:
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156}
friends.clear()
print(friends)
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156}
friends = {}
print(friends)

place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.clear()
place_and_money

{}
{}

{}

# .KEYS() вызывает все ключи словаря в методе dict_keys, который можно преобразовать

In [74]:
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156}
friends_keys = friends.keys()
print(friends_keys)
print(list(friends_keys))

dict_keys(['Kolya', 'Marina', 'Misha', 'Dima', 'Yana', 'Nina'])
['Kolya', 'Marina', 'Misha', 'Dima', 'Yana', 'Nina']

In [75]:
place_and_money = {1: 100, 2: 50, 3: 10}
print(place_and_mone.keys())

name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_keys = name_to_age.keys()
print(name_keys)

dict_keys([1, 2, 3])
dict_keys(['Anne', 'Anton', 'Phillip'])

# .VALUES() получение значений в словаре(без привязки к ключам)

In [76]:
friends_values = friends.values()
friends_values

dict_values([180, 176, 158, 201, 183, 156])

In [77]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.values()

place_and_money = {1: 100, 2: 50, 3: 10}
place_values = place_and_money.values()
print(place_values)

dict_values([100, 50, 10])

# .GET() умное обрбащение по ключу, для вывода
Почему умное? в случае отсуствия данного ключа, не останавливает работу программы, а продолжает работу и выдает еще дополнительные данные, которые вводит программист
при вызове

In [78]:
print(friends.get('Matvey'))
print(friends.get('Matvey','Такого друга нет')) # при обращении  по несуществуещему ключу выводит фразу

None
Такого друга нет

In [79]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_mone.get(20,0)

name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.get('Danny', -1)

-1

# .UPDATE() Добавляет сразу несколько ключей и значений в словарь. И обновляет существующие значения

In [80]:
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156}
print(friends)
friends.update({"Stas":171, "Nastya": 163})
print(friends)
friends.update({'Stas':182})
print(friends)

{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156}
{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 171, 'Nastya': 163}
{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 182, 'Nastya': 163}

In [81]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.update({4:5,5:1})
place_and_money

name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.update({'Anne':23,'Phillip':29})
print(name_to_age)

{'Anne': 23, 'Anton': 27, 'Phillip': 29}

# .POP() Удаляет ключ и значение из словаря. Сохарняет его значение в переменной если ее созадть

In [82]:
best_friend_miss = friends.pop('Misha')
print(best_friend_miss)
print(friends)

158
{'Kolya': 180, 'Marina': 176, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 182, 'Nastya': 163}

In [83]:
place_and_money = {1: 100, 2: 50, 3: 10}
result = place_and_money.pop(3)
print(result, place_and_money)

name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
result = name_to_age.pop('Anton')
print(result)

10 {1: 100, 2: 50}
27

# .SETDEFAULT() умная добавка ключа и значеня, если забыл 
Он принимает два параметра: ключ и значение по умолчанию, если этого ключа нет в словаре. Этот метод создаст ключ за вас, если он действительно отсутствует, если ключ имеется, его значение останется неизменным:

In [84]:
friends = {"Kolya": 180, "Marina": 176, "Dima": 201, "Yana": 183, "Nina": 156, "Stas": 183, "Nastya": 163}
friends.setdefault('Nastya',100) # на уже существующем значении
print(friends) 

friends.setdefault('Vlad',183)
print(friends)

{'Kolya': 180, 'Marina': 176, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 183, 'Nastya': 163}
{'Kolya': 180, 'Marina': 176, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 183, 'Nastya': 163, 'Vlad': 183}

In [85]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.setdefault(10,1)
place_and_money

{1: 100, 2: 50, 3: 10, 10: 1}

In [86]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.setdefault('Anne',32)
print(name_to_age)

{'Anne': 22, 'Anton': 27, 'Phillip': 30}

### В качестве ключа словаря должен выступать неизменяемый тип данных (числа, строки, кортежи), а в качестве значения может выступать любая структура данных.

In [87]:
test_dict = {5: [3,4,5], (3,4,5): 'strong man'}
print(test_dict)

test_dict = {'name': 'Sancho', 'surname': 'Panso', 'info': {'age': 35, 'country': 'Mexico'}}
print(test_dict)

test_dict3 = {'info': [10, 15, 27], 'about': {'game': 'football', 'period': 5}}
test_dict3['about'] = 'dont know'
print(test_dict3)

{5: [3, 4, 5], (3, 4, 5): 'strong man'}
{'name': 'Sancho', 'surname': 'Panso', 'info': {'age': 35, 'country': 'Mexico'}}
{'info': [10, 15, 27], 'about': 'dont know'}

# В этом юните мы узнали: 
1. Узнали о словаре словаря, поняли, как он создается и какие операции с ним можно делать
2. познакомились с расширением(.update()), удалением(.pop), чисткой(.clear), добавлением словаря(.setdefault(), либо [])
3. изучили ключи, значения и их преднозначение
4. узнали, что именно можно хранить в словарях: просыте(числа сроки), составные(кортежи, словари, списки) структуры данных
5. усвоили что порядок вставки в словарь не должен сохраняться

# Множества
### Создание множества

In [88]:
set1 = set()
print(type(set1))

set1 = set('hello')
print(set1)

s1 ={} # создается дикт, нужно задать хотя бы 1 эллемнт, чтобы было set
print(type(s1))

s1 = {1}
print(type(s1))

<class 'set'>
{'e', 'o', 'h', 'l'}
<class 'dict'>
<class 'set'>

In [89]:
s1 = set()
print(type(s1),s1)
s2 = { 5, 10, 3, 2, 11}
print(type(s2),s2)
s3 = set('wow thats cool')
print(s3)

<class 'set'> set()
<class 'set'> {2, 3, 5, 10, 11}
{'o', 'w', 't', 'a', 'c', 'l', 'h', 's', ' '}

# МЕТОДЫ МНОЖЕСТВ

### .ADD()

In [90]:
s = {1, 2, 3, 4}
print(s)
s.add(6)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

### UPDATE() Добавление сразу нескольких эллемнтов

In [91]:
print(s)
s.update({9,8,7})
print(type(s),s)

{1, 2, 3, 4, 6}
<class 'set'> {1, 2, 3, 4, 6, 7, 8, 9}

In [92]:
s1 = set('abcd')
s1.add('hello')
print(type(s1),s1)

<class 'set'> {'b', 'a', 'c', 'd', 'hello'}

### .DISCARD(), .REMOVE()
Их отличие друг от друга состоит в том, что при удалении уже отсутствующего элемента из множества discard() ничего не сделает, а вот .remove() выкинет ошибку.

In [93]:
s = {1,2,3,4,5}
print(type(s),s)

<class 'set'> {1, 2, 3, 4, 5}

In [94]:
s.discard(10)

In [95]:
s1 = set('abcde')
s1.remove('d')
print(s1)

s1 = set('abcdef')
s1.discard('f')
print(s1)

s1 = set('abcdef')
s1.remove('f')
print(s1)

{'b', 'a', 'c', 'e'}
{'b', 'a', 'c', 'd', 'e'}
{'b', 'a', 'c', 'd', 'e'}

### .UNION() 
Объеденениебез повторов элементы обоих множеств.

In [96]:
cluster1 = {"item1", "item2", "item3", "item4"}
cluster2 = {"item2", "item3", "item5", "item7"}
print(cluster1.union(cluster2))

alpha_set = set('abcde')
name = set('bad boy')
print(alpha_set.union(name))

a = list(range(1,11))
print(a)
num_set = set(a)
print(num_set)
date_num = {1,9,4,8}
print(num_set.union(date_num))

{'item2', 'item3', 'item7', 'item4', 'item1', 'item5'}
{'b', 'o', 'a', 'd', 'c', 'e', 'y', ' '}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### .INTERSECTION()
При .intersection() берутся все элементы, которые есть в обоих множествах.

In [97]:
cluster1 = {"item1", "item2", "item3", "item4"}
cluster2 = {"item2", "item3", "item5", "item7"}
print(cluster1.intersection(cluster2))

alpha_set = set('abcde')
name = set('bad boy')
print(alpha_set.intersection(name))

a = list(range(1,10))
num_set = set(a)
date = {1,9,4,8}
print(num_set.intersection(date))

{'item3', 'item2'}
{'a', 'd', 'b'}
{8, 1, 4, 9}

### .DIFFERENCE()
.difference() выбирает все элементы из первого множества, которых нет во втором множестве.

In [98]:
cluster1 = {"item1", "item2", "item3", "item4", "item5"}
cluster2 = {"item3", "item4", "item5", "item6"}
cluster1.difference(cluster2)

alpha_set = set('abcde')
name = set('bad boy')
print(alpha_set.difference(name))

a = list(range(1,11))
num_set = set(a)
date = {1,9,4,8}
print(num_set.difference(date))

{'c', 'e'}
{2, 3, 5, 6, 7, 10}

### .ISSUBSET() 
Метод .issubset() используется для того, чтобы узнать, все ли элементы из первого множества есть во втором множестве.

In [99]:
cluster1 = {"item1", "item2", "item3"}
cluster2 = {"item2", "item3", "item4", "item5", "item6"}
print(cluster1.issubset(cluster2))
cluster1 = { "item2", "item3"}
print(cluster1.issubset(cluster2))

False
True

# Заключение
### В этом модуле мы узнали:
1. Как создавать множество, с помощью set(), {}
2. Особенности множество и где его применять
3. Методы множества
4. Усвоили что порядок во множетсве не всегда должен сохраняться

# Цели :
1. Научиться преоюбразовывать числа между собой
2. Научиться преоюбразовывать числа в строку
3. Научиться преоюбразовывать строки в число 
4. Научиться преоюбразовывать в кортежи и списки

### ПРЕОБРАЗОВАНИЕ ЧИСЕЛ МЕЖДУ СОБОЙ

In [100]:
int_var = 10 
# присвоим переменной int_var целое число — 10.
float_var = float(10)
print(int_var,float_var)

10 10.0

In [101]:
float_var1 = 10.2
float_var2 = float(5)

print(float_var1 + float_var2)

15.2

In [102]:
int_var2 = 5
print(int_var2+float_var1)

15.2

### ЧИСЛА С ПЛАВАЮЩЕЙ ТОЧКОЙ В ЦЕЛЫЕ ЧИСЛА

In [103]:
float_var = 7.5
int_var = int(7.5)
int_var1 = int(7.9)
print(float_var, int_var,int_var1)

7.5 7 7

Напомним, что функция int() не округляет, а «обрубает» вещественную часть. То есть после применения функции int() на числах 7.4, 7.6 на выходе получится одно и тоже число (7).

In [104]:
a = 3 
b = float(a)
print(a,b,type(a),type(b))

num1 = 3
num2 = 3.5
num3 = float(num1)
sum2 = num3 + num2
sum1 = num1 + num2
print(sum2,sum1)

3 3.0 <class 'int'> <class 'float'>
6.5 6.5

### ПРЕОБРАЗОВАНИЕ ЧИСЕЛ В СТРОКИ

In [105]:
int_var = 5
str_var = str(int_var)
print(str_var, type(str_var))

5 <class 'str'>

In [106]:
str_var1 = "I am "
int_var = 10
str_var2 = " years old"
print(str_var1 + str(int_var) + str_var2) # Если убрать str, то не будет получаться преобразование

I am 10 years old

In [107]:
str_var = 1
str_var = str(str_var)
print(str_var,type(str_var))

1 <class 'str'>

In [108]:
str_age_begin = "my age is "
int_age = 18
result_string = str_age_begin + str(int_age)
print(result_string)

str_brothers_begin  = 'I have ' 
count = 5 
str_brothers_end = ' brothers'
result_sentence = str_brothers_begin + str(count) + str_brothers_end
print(result_sentence)

my age is 18
I have 5 brothers

### ПРЕОБРАЗОВАНИЕ СТРОК В ЧИСЛА

In [109]:
my_date = "1990"
mom_date = "1957"
int(my_date) - int(mom_date)

33

### ПРЕОБРАЗОВАНИЕ В КОРТЕЖИ И СПИСКИ
Можно использовать две функции (tuple() и list()) для преобразования структур в кортежи и списки.

In [110]:
dictionary = {"Anne": 15, "Sam": 30, "Marie": 22}
only_keys = list(dictionary.keys())
print(only_keys)
only_keys += ["Tom", "Curt"]
print(only_keys)

['Anne', 'Sam', 'Marie']
['Anne', 'Sam', 'Marie', 'Tom', 'Curt']

In [111]:
d = {("Amanda", 22, "NY"): "3rd place"}
input_list = ["Collin", 23, "LA"]
input_place = "2nd place"
d[tuple(input_list)] = input_place
print(d)

{('Amanda', 22, 'NY'): '3rd place', ('Collin', 23, 'LA'): '2nd place'}

In [112]:
list1 = list(range(1,6))
tpl1 = tuple(list1)
print(tpl1,type(tpl1))

tpl1 = tuple('abcde')
list2 = list(tpl1)
print(list2)

(1, 2, 3, 4, 5) <class 'tuple'>
['a', 'b', 'c', 'd', 'e']

In [113]:
# Queastians
lst1 = list()
lst1.append(1)
lst1.append(2)
lst1.append(3)
lst1

list2 = list(range(-5,15,2))
list3 = [1,2,3,4]
list3.extend(list2)
list3

list6 = [ 3, 1, -10, 5, 11, 20, 1, -10]
list7 = list6.copy()
print(list6)
list6.sort()
list_result = list6[::-1]
print(list7,list_result)

list1 = [10,15]
tpl1 = tuple(list1)
print(type(tpl1),tpl1)
dict1 = {}
print(type(dict1))
dict1[tpl1] = 'hello'
print(dict1)

dict1 = {'name':'unkown'}
dict2 = {'name' : 'Tom'}
print(dict1,dict2,dict1.keys(),dict1.values())

[3, 1, -10, 5, 11, 20, 1, -10]
[3, 1, -10, 5, 11, 20, 1, -10] [20, 11, 5, 3, 1, 1, -10, -10]
<class 'tuple'> (10, 15)
<class 'dict'>
{(10, 15): 'hello'}
{'name': 'unkown'} {'name': 'Tom'} dict_keys(['name']) dict_values(['unkown'])

In [114]:
s1 = set('hello')
s2 = set(['w', 'o', 'w'])
print(s1.union(s2),s1.intersection(s2),s1.difference(s2))

{'e', 'o', 'w', 'l', 'h'} {'o'} {'e', 'h', 'l'}

In [115]:
result = 'age is ' + str(15)
print(result)

age is 15

In [116]:
lis1 = ['a','b']
lis1.extend('1')
print(lis1)

['a', 'b', '1']

#### Какие есть меняющиеся и постоянные типы данных?
Неизменяемсы типы данных = целые и действительные числа, логические значения, строки, кортежи
Изменяемые = словари, множества, списки

#### Какие есть типы данных? Какая разница между list и tuple, зачем они нужны?
В пайтон есть несколько типво данных, которые используются для хранения информации
к ним относят:

1. Числа(int,float) = целые и вещественные числа, а также комплексные числа. Используются для математических операций

2. Строки(str) = Последовательности символов. Используются для работы с текстом

3. Списки(list) = упорядоченный изменяемый типы коллекции одного элемента. Элементы можно добавлять изменять удалять. 
Списки используются для обработки и хранения последовательностей данных

4. Кортежи(tuple) = неизменяеме упорядоченные коллекции элементов. Кортежи похожи на списки, но их нельзя изменить после создания. Они используются для представления фиксированных наборов данных.
таких как координаты точки или параметры функции

5. Множетсва(set) = неупорядоченный коллеция уникальных элементов.  Множетсва используются для проверки принадлежности элемента к мноежству и для выполнения
операции над множествами, такими как: обьединения(union) пересечени(intersection), разность(difference)

6. Словари(dict) = коллекции пар=ключ. Словари используются для хранения связанных данных и быстрого доступа к ним по ключу

Разница между tuple и list, заключается в том, что кортежи(tuple) неизменямый тип данных,  а список(list) изменяемый, это означает, что с списком(list) можно проводить добавления(append), удаления(remove,pop), элементов из списка(list), в то время, как кортежи(tuple) неизменяются после его создания

#### В чём заключается сложность доступа к элементам dict?
Чтобы обратится к элементам словаря(ditct), необходимо обращение по уникальному ключу, ключи повторятся не могут, если ключи повторяются. то значения словаря соотвесвует последнему присвоению, также если 
ключи сложные, то обращения по конкретному ключу может быть проблемотично и может вызывать сложность. 

#### В чём заключается разница между списком и кортежем?

Список(list) упорядоченный изменяемый тип данных, в который можно добавлять новый элементы(append), удалять элементы(pop,remove), в то время, как кортежи(tuple) неизменямый тип данных, который создается вначале для формирования
точного числа, допустим координаты или параметры функции

#### Как развернуть список?

С помощью среза с отрицательным шагом [::-1] с помощью функции reverse

### Как работает умножение строк? 
умножает стройки, тоесть допустим "hello" если умножить на 3, то будет 3 раза выведено слово "hello"


#### Как объединить списки в Python?

с помощью метода extend() либо с помощью сложения двух списков

#### Где быстрее поиск: в словарях или списках?

быстрее поиск в словарях,т.к идет не перебор всех эллемнтов. а отдельного ключа, в отличии от перебора всего списка, словарь это хеш таблица. но у словарей есть свои ограничения, необходимо точное название ключа


#### Как проверить, существует ли значение в списке?
обратится к нему через in, пример 'a' in ['a','b','c']

#### В чём разница между append и extend?
Метод append добавляет в список новое значение, который в него добавили, а метод extend доабвляет в список значения из другого списка

#### Как отсортировать словарь по ключам в алфавитном порядке?
нельзя отсортировать словарь, поскольку он не поддерживает упорядочение,но можно вернуть отсортированный список кортежей с ключами и значениями словаря

sorted(dict1.items())

#### Как удалить все пробелы из строки?

Можно разделить строку в местах пробелов и заново их соединить

' '.join(s.split())

но локаничнее будет способ этот

s.replace(' ', '')

### Как получить список ключей из словаря?
list(dict1.keys()) либо list(dict1)

#### Как перевести строку в верхний/нижний регистр?

в верхний str2 = str1.upper()

в нижний str3 = str1.lowwer()

В чём разница между remove, del и pop?

remove = удалит первый элемент из списка, также если этого элемента не было в списке, выкинет ошибки при попытке удаления

pop = удаляет элемент по индексу, возвразщает удаленный элемент

del = удаление по индексу элемента примера del list["индекс"]

In [117]:
d = {'id':7, 'name':'Shiba', 'color':'brown', 'speed':'very slow'}
list(d)
list(d.keys())

['id', 'name', 'color', 'speed']

# Цели на модуль:
1. Научиться писать нелинейные программы с использованием ветвления
2. Познакомиться с оператором сравнения >, <, ==
3. познакомиться с логическими операторами or and not
4. Научится использовать логические операторы if-elif-else
5. Научиться обрабатывать исключения

# ОПЕРАТОРЫ СРАВНЕНИЯ


ОПЕРАТОР	ЗНАЧЕНИЕ

"<"	Меньше. Условие верно, если первый операнд меньше второго

">"	Больше. Условие верно, если первый операнд больше второго

"<=" Меньше или равно. Условие верно, если первый операнд меньше второго либо равен ему

">=" Больше или равно. Условие верно, если первый операнд больше второго либо равен ему

"==" Равенство. Условие верно, если операнды равны

"!=" Неравенство. Условие верно, если операнды неравны

#### Cравнение чисел

In [118]:
income_2019 = 15
income_2020 = 16.5
income_2021 = 16.5

print(income_2019 < income_2020)
print(income_2021 > income_2019)
print(income_2020 <= income_2021)
print(income_2020 >= income_2021)
print( income_2021 == income_2020)
print(income_2020 != income_2019)

True
True
True
True
True
True

#### СРАВНЕНИЕ СТРОК

In [119]:
print(ord('я')) # просмотр какой символ соотвесвует цифре в юникоде с помощью метода ord

1103

In [120]:
name_user_1029 = 'Andrey'
name_user_1040 = 'Vladimir'
name_user_1042 = 'Andrey'

print(name_user_1029 == name_user_1040)
print(name_user_1029 == name_user_1042)

False
True

# СРАВНЕНИЕ КОЛЛЕКЦИЙ

Скажем пару слов о равенстве коллекций. Равенство для упорядоченных коллекций объектов, таких как списки(list) и кортежи(tuple), означает полное равенство их содержимого и порядка элементов.

In [121]:
languages_list_1 = ['Python', 'C++', 'C#', 'Java']
languages_list_2 = ['Python', 'C++', 'C#', 'Java']
print(languages_list_1 == languages_list_2)

True

Равенство для неупорядоченных коллекций объектов, таких как словари и множества, означает равенство их содержимого, порядок внесения элементов при создании коллекции значения не имеет.

In [122]:
store_dict_1 = {'Яблоки': 158, 'Мандарины': 178, 'Хлеб': 56}
store_dict_2 = {'Хлеб': 56, 'Яблоки': 158, 'Мандарины': 178}
print(store_dict_1 == store_dict_2)

True

In [123]:
print(True !=  False)
print( True == False)

string_1 = 'abc'
string_2 = 'ABC'
print(string_1 == string_2)

True
False
False

In [124]:
a = [1, 2, 3] 
b = a
print(b is a, b == a )

b = a[:]
b is a, b == a

string1 = ['u', 'v', 'w']
string2 = string1
string3 = list(string1)

print(string1 == string2,string1 == string2, string1 is string2, string1 is string3, id(string1),id(string2),id(string3))

target_string = 'Коту тащат уток'
target_string= target_string.lower()
target_string= target_string.replace(' ','')
result = (target_string == target_string[::-1])

True True
True True True False 4389657664 4389657664 4389997440

# Логические выражения
#### логическое не "not"

In [125]:
print(not True)
print(not False)
print(not (5==10))
print(not (5 != 10))
print(not ('abc' == 'Bcda'))

False
True
True
False
True

#### ЛОГИЧЕСКОЕ «ИЛИ»

In [126]:
print((5 == 10) or (1 == 1))
print(('abc' == 'bca') or ('Ope' == 'ooo'))
print( True or (5 == 5))

True
False
True

#### Логическое "И"

In [127]:
print(True and True)
print((5==10) and (1==1))
print(('abc'=='bca') and ('arik'=='man'))

True
False
False

In [128]:
a, b, c = 2, 5, 10
resut = ((a ** 2)> b and (a**2)>c)
print(resut)

a, b, c = 3, 5, 8
resut = ((a ** 2)> b and (a**2)>c)
print(resut)

False
True

In [129]:
diagnosis_1, diagnosis_2,diagnosis_3 = 'yes', 'yes', 'no'
result = (diagnosis_1 == 'yes') or (diagnosis_2 == 'yes') or (diagnosis_3 == 'yes')
print(result)

diagnosis_1, diagnosis_2,diagnosis_3 = 'no', 'no', 'no'
result = (diagnosis_1 == 'yes') or (diagnosis_2 == 'yes') or (diagnosis_3 == 'yes')
print(result)

True
False

In [130]:
x = 267
y = 267
print(x is y, id(x),id(y))

False 4389395408 4389394480

## Выводы
1. Благодаря услонвым оператором мы можем понимать и создавать условия в которых ответ будет да/нет
2. Научились понимать is и чем он отличается от == 
3. Познакомились с логическими операциями, которые позволяют создавать условия для da/net

#### ПРОВЕРКА НА ВХОЖДЕНИЕ ЭЛЕМЕНТА В ПОСЛЕДОВАТЕЛЬНОСТЬ

In [131]:
orders = {
    '2022-10-10': ['F124', 'D89D', '142L'],
    '2022-10-11': ['H241', 'OR24', 'BE14', '348F'],
    '2022-10-12': ['H429', 'JAS2']
}
target_order = 'BE14'
print(target_order in orders['2022-10-10'] or \
      target_order in orders['2022-10-11'] or \
      target_order in orders['2022-10-12']
      )

message = 14093530013530593

print(str(5) in str(message)[:6])

N = 12043879584
print((str(3) in str(N)) and (str(7) in str(N)))
N = 59005085801
print((str(3) in str(N)) and (str(7) in str(N)))

x, y = 'F', 7
print((x in "A, B, C, D, E, F, G, H") and (y in list(range(1,9))))

True
True
True
False
True

#### ПРОВЕРКА ДЕЛИМОСТИ ЧИСЕЛ

In [132]:
available_packages = 105
total_count = 1677

print((total_count % 13 == 0) and (total_count // available_packages <= 0))

False

In [133]:
N = 282
first_is_even = int(str(N)[:1]) % 2 == 0
print(first_is_even)

year = 2000
year_is_leap = ((year % 400 == 0) or ((year % 4 == 0) and (year % 100 != 0)))
print(year_is_leap)

True
True

In [134]:
phone = '+7 927 124 42 12'

phone_is_defined = type(phone) is str
print(phone_is_defined)

arrival_of_goods = {
    '148902': {
        'Футболка с принтом': 180,
        'Свитшот черный': 245,
        'Джинсы серые': 252
    },
    '893516': {
        'Футболка с принтом': 43,
        'Свитшот черный': 64,
        'Джинсы черные': 102
    },
    '893481': {
        'Кружка керамическая': 35,
        'Свитшот черный': 10,
        'Джинсы сервые': 14
    }
}
invoice_number = '148902'
invoice_exists = not(arrival_of_goods.get(invoice_number) is None)

print(invoice_exists)

True
True

# Условные операторы

In [135]:
is_rainy = True

if is_rainy:
    print('Take to umbrela')
else:
    print('Not take umbrela')

Take to umbrela

In [136]:
a = 2 ** 10
b = 3 ** 5
if a > b:
    print(a)
else:
    print(b)

1024

In [137]:
target_word = 'and'
words = ['and', 'or', 'not']
if target_word in words:
    print(f'{target_word} in {words}')

and in ['and', 'or', 'not']

In [138]:
mx = 0
s = 0

x = -5
if x < 0:
    s = x

if x > mx:
    mx = x

print(s)
print(mx)

people_count = 5
if people_count >=10:
    print("«Всё занято. Подождите!»")
else:
    print("«Добро пожаловать!»")

-5
0
«Добро пожаловать!»

In [139]:
password = '879f2aabS'
answer = '879f2aabS'
if password == answer:
    print("«Добро пожаловать!»")
else:
    print("«Вы ввели неверный пароль!»")

«Добро пожаловать!»

In [140]:
name = 'Андрей'
age = 21
if age < 18:
    print(f"Привет, {name}! Приносим свои извинения, но вы не можете гулять после 22:00")
else:
    print(f"Добрый вечер, {name}!")

Добрый вечер, Андрей!

In [141]:
credit_history = 'bad'
deposit = True
guarantors = False
credit = 3000.0

if credit_history == 'good':
    if credit >= 1000:
        result = False
    else:
        result = True
else:
    if deposit:
        if guarantors:
            result = True
        else:
            result = False
    else:
        result = False
        
print(result)

False

In [142]:
number = 5
if number % 5 == 0 and number % 2 == 0:
    print(f"{number} делится на 2 и на 5")
else:
    if number % 5 == 0:
        print(f"{number} делится на 5")
    elif number % 2 == 0:
        print(f"{number} делится на 2")
    else:
        print(f"{number} не делится на 2 и на 5")

5 делится на 5

In [143]:
print(bool(395))
print(bool([3,6,7]))
print(bool([]))
print(bool(0.45))
print(bool(-1))
print(bool({'keals': 34}))
print(bool({}))
print(bool(0))

number = 10

if number:
    print(number / 10)
else:
    print('измените число на отличное от нуля')

True
True
False
True
True
True
False
False
1.0

In [144]:
cust_age = 61
result = 'скикда доступна' if cust_age > 60 else 'скидка недоступна'
print(result)

скикда доступна

In [145]:
cust_discount = '10' if cust_age < 60 else '20'
print(cust_discount)

20

In [146]:
x = 2200000/0.016
x/1000

137500.0

In [147]:
now = '11:24:39'
hour = list(now.split(':'))[0]
result = 'сейчас утро' if 6 <= int(hour) < 12 else 'пора делать секс'
print(result)

hour, minute, seconds = now.split(':')
hour, minute, seconds = int(hour), int(minute), int(seconds)
if 6<= hour < 12:
    print('morning')
else:
    print('evning')
print(hour, type(hour))

сейчас утро
morning
11 <class 'int'>

In [148]:
x,y = (2,0)
if x > 0:
    result = 'first coordinate area' if y > 0 else 'fourth coordinate area'
else:
    result = 'third coordinate area' if y > 0 else 'second coordinate area'
print(result)

fourth coordinate area

In [149]:
x,y = (2,2)
if x > 0 and y > 0:
    print('first coordinate area')
if x > 0 and y < 0:
    print('fourth coordinate area')
if x < 0 and y < 0:
    print('second coordinate area')
if x < 0 and y > 0:  
    print('third coordinate area')

first coordinate area

Пользователь вводит целое число — текущее время в часах, значение которого хранится в переменной time. Если количество часов находится между 7 и 10 (включая обе границы), то программа должна вывести строку «Пора вставать!», иначе выведется строка «Ты проспал!».

Примечание: В рамках данной задачи условимся, что пользователь считается проспавшим в любое время, отличное от указанного интервала.

In [150]:
time = 8
result = 'Пора вставать' if 10 >= time >= 7 else 'Ты проспал!'
print(result)
# Пора вставать!

time = 12
result = 'Пора вставать' if 10 >= time >= 7 else 'Ты проспал!'
print(result)
# Ты проспал!

Пора вставать
Ты проспал!

Считается, что буквы q и z встречается в английском языке реже остальных букв. Вы решили написать программу, которая позволяет пользователям вводить слова и проверяет, можно считать это слово редким или нет. Интересующее вас слово содержится в переменной target_word.

Пусть эта программа выводит на экран одну из двух фраз: «Ух ты! Вы ввели редкое слово!», если в слове есть буква q или букву z, или «Это не очень редкое слово...», если в нём этих букв нет.

In [151]:
target_word = "quantity"
# Ух ты! Вы ввели редкое слово!
result = 'Ух ты! Вы ввели редкое слово!' if ('q' in target_word) \
                or ('z' in target_word)  else 'Это не очень редкое слово...'
print(result)

target_word = "apply"
# Это не очень редкое слово...
result = 'Ух ты! Вы ввели редкое слово!' if ('q' in target_word) \
                or ('z' in target_word)  else 'Это не очень редкое слово...'
print(result)

Ух ты! Вы ввели редкое слово!
Это не очень редкое слово...

Вы работаете в агентстве знакомств. К вам обратилась некая Алла, которая ищет мужчину ростом строго выше 180 см, весом строго менее 80 кг. Также Алла верит в гороскопы и согласно гороскопу ей подходят только весы, дева, овен и козерог.

Напишите условие, которое позволит определить, подходит ли Алле тот или иной кандидат. В результате работы программы на экран должно быть введено:

«Ваша половинка нашлась!» — если кандидат подходит Алле по параметрам.
«Попробуем поискать еще!» — если кандидат не подходит Алле по параметрам.

In [152]:
height = 183
weight = 78
zodiac_sign = 'козерог'
# "Ваша половинка нашлась!"

signs_of_the_zodiac = [ 'весы', 'дева', 'овен', 'козерог']
result = "Ваша половинка нашлась!" if ((height > 180) and (weight < 80) and (zodiac_sign in signs_of_the_zodiac)) else '"Попробуем поискать еще!"'
print(result)

height = 171
weight = 75
zodiac_sign = 'весы'
# "Попробуем поискать еще!"

result = "Ваша половинка нашлась!" if ((height > 180) and (weight < 80) and (zodiac_sign in signs_of_the_zodiac)) else '"Попробуем поискать еще!"'
print(result)

Ваша половинка нашлась!
"Попробуем поискать еще!"

In [153]:
x,y = (2,2)
if x > 0 and y > 0:
    print('first coordinate area')
elif x > 0 and y < 0:
    print('fourth coordinate area')
elif x < 0 and y < 0:
    print('second coordinate area')
else:  
    print('third coordinate area')

first coordinate area

In [154]:
month = 10
if month in [3,4,5]:
    print('Summer')
elif month in [6,7,8]:
    print('Summer')
elif month in [9,10,11]:
    print('Autumn')
elif month in [12,1,2]:
    print('Winter')
else:
    print('Incorect month number')

Autumn

In [155]:
a = 100
if a > 10:
    print(f'{a} > 10')
elif a < 10:
    print(f'{a} < 10')
else:
    print(f'{a} == 10')

100 > 10

Необходимо реализовать условный оператор, который печатает на экран характеристику ветра и его класс (от 1 до 4) в зависимости от его характера:

"weak [1]" — от 1 до 4 м/с

"moderate [2]" — от 5 до 10 м/c

"strong [3]" — от 11 до 18 м/c

"hurricane [4]" — от 19 м/c

Скорость ветра хранится в переменной speed.

In [156]:
speed = -10
if 1 <= speed < 4:
    print('weak')
elif 4 <= speed < 10:
    print('moderate')
elif 10 <= speed < 19:
    print('strong')
elif speed >= 19:
    print('hurricane')
else:
    print('укажите корректную скорость ветра')

укажите корректную скорость ветра

Друг, зная, что вы отличный программист, попросил вас запрограммировать игру «Камень, ножницы, бумага» для своего младшего брата. Правила игры всем известны: камень побеждает ножницы; ножницы — бумагу; бумага — камень.

Жесты, выполняемые первым и вторым игроками находятся в переменных player_1 и player_2 соответственно. Обратите внимание, что названия жестов должны быть написаны строчными буквами.

Напишите программу, которая определяет победителя. Если побеждает первый игрок, то выводится сообщение «Первый игрок — победитель!». Если второй — «Второй игрок — победитель!». Если ничья — выводится «Ничья!».

In [157]:
player_1 = 'камень'
player_2 = 'камень'
# Ничья!

condition_1 = (player_1 =='камень' and player_2 == 'ножницы') or (player_1 =='ножницы' and player_2 == 'бумага') or (player_1 =='бумага' and player_2 == 'камень')
if condition_1:
    print('Победитель игрок1')
elif player_1 == player_2:
    print('Ничья')
else:
    print('Победитель игрок2')
    
player_1 = 'ножницы'
player_2 = 'бумага'
# Первый игрок — победитель!

condition_1 = (player_1 =='камень' and player_2 == 'ножницы') or (player_1 =='ножницы' and player_2 == 'бумага') or (player_1 =='бумага' and player_2 == 'камень')
if condition_1:
    print('Победитель игрок1')
elif player_1 == player_2:
    print('Ничья')
else:
    print('Победитель игрок2')

player_1 = 'камень'
player_2 = 'бумага'
# Второй игрок — победитель!

condition_1 = (player_1 =='камень' and player_2 == 'ножницы') or (player_1 =='ножницы' and player_2 == 'бумага') or (player_1 =='бумага' and player_2 == 'камень')
if condition_1:
    print('Победитель игрок1')
elif player_1 == player_2:
    print('Ничья')
else:
    print('Победитель игрок2')

Ничья
Победитель игрок1
Победитель игрок2

In [171]:
dish_time_dict = {
    'Рамен с говядиной': 15,
    'Суши': 18,
    'Лагман с курицей': 20,
    'Лагман с говядиной': 24,
    'Плов с курицей': 28
}

street_time_dict  = {
    'Дзержинский': 39,
    'Солнечный': 40,
    'Заводской': 27,
    'Гагаринский': 43,
    'Кировский': 37,
    'Октябрьский': 34
}

dish, street = 'Рамен с говядиной', 'Заводской'
print(dish_time_dict.get(dish) is None)
print((street_time_dict.get(street) is None))

if not(dish_time_dict.get(dish) is None) and not(street_time_dict.get(street) is None):
    time_dilivery = 60 - street_time_dict[street] - dish_time_dict[dish]
    if time_dilivery > 0:
        print(f'Ваш курьер приедет через {time_dilivery} мин')
    else:
        print(f'Ваш курьер задержится на {abs(time_dilivery)} мин')
else:
    if dish_time_dict.get(dish) is None:
        print(f'Блюда {dish} нет сейчас в наличии доступны{list(dish_time_dict.keys())}')
    if street_time_dict.get(street) is None:
        print(f'Доставки на адрес {street} нет сейчас в наличии доступны{list(street_time_dict.keys())}')

False
False
Ваш курьер приедет через 18 мин

Необходимо реализовать программу, которая проверяет, успеет курьер доставить заказ за 60 (включительно) минут с момента его принятия или нет.

Также необходимо реализовать проверку, что блюдо, заказанное клиентом, в данный момент доступно в ресторане, а район, в котором находится клиент, доступен для доставки.

In [229]:
errors_dict = {
    'length': 'Длина пароля не равна 8 символам',#
    'digits': 'Пароль состоит только из цифр',#
    'letters': 'Пароль состоит только из букв',#
    'upper': 'Отсутствуют заглавные буквы',#
    'lower': 'Отсутствуют строчные буквы',#
    'spec': 'Отсутствуют спецсимволы в пароле',
    'bad_symbols': 'В пароле использованы непредусмотренные символы'
}

bad_symbols = ['!', '@', '$', '%', '^', '`', '&', '(', ')', '+', '=', '_', '~']

password = 'Aafaf*aрl'

cond_1 = not(len(password) > 8) #
cond_2 = password.isdigit()
cond_3 = password.isalpha()
cond_4 = len(set(password).intersection(set(bad_symbols))) > 0
cond_5 = not(password.upper() != password)
cond_6 = not(password.lower() != password)
cond_7 = password.isalnum()

if cond_1:
    print('Длина пароля не равна 8 символам')
if cond_2:
    print('Пароль состоит только из цифр')
elif cond_3:
    print('Пароль состоит только из букв')
elif cond_4:
    print('В пароле использованы непредусмотренные символы')
elif cond_5:
    print( 'Отсутствуют строчные буквы')
elif cond_6:
    print('Отсутствуют заглавные буквы')
elif cond_7:
    print('Отсутствуют спецсимволы в пароле')
else:
    print('Пароль вомзможен для использования')

Пароль вомзможен для использования

In [230]:
if len(password) > 8:
    errors_dict.pop('length')
if not(password.isdigit()):
    errors_dict.pop('digits')
if not(password.isalpha()):
    errors_dict.pop('letters')
if '*' in list(password) or '-' in list(password) or '#' in list(password):
    if password.count('*') > 1 or password.count('-') > 1 or password.count('#') > 1:
        errors_dict['mistake'] = 'Cпецсимвол использован более 1 раза'
    errors_dict.pop('spec')
if password.upper() != password:
    errors_dict.pop('lower')
if password.lower() != password:
    errors_dict.pop('upper')
if not(len(set(password).intersection(set(bad_symbols))) > 0):
    errors_dict.pop('bad_symbols')
if errors_dict:
    print(list(errors_dict.values()))
else:
    print('Пароль успешен')

Пароль успешен

print(s.isdigit()) # строка состоит только из цифр?

print(s.isalpha()) # строка состоит только из букв?

print(s.isalnum()) # строка состоит только из цифр и букв?

In [239]:
purchases = ["Adidas", "Nike"]
# Стоимость заказа составила: 10848. С учетом скидки в 5% — 10305.6

purchases = ["Nike", "Nike"]

#purchases = []
# Ваша корзина пуста

prices = {'Adidas': 4298, 'Nike': 6550, 'Puma': 4490, 'Asics': 3879}

if not purchases:
    print('Ваша корзина пуста')
elif len(set(purchases)) == 1:
    result = prices[purchases[0]] * 2
    print(f'Стоимость заказа составила: {result} . С учетом скидки в 5% — {result * 0.95}.')
else:
    result = prices[purchases[0]] + prices[purchases[-1]]
    print(f'Стоимость заказа составила: {result}. С учетом скидки в 10% — {result * 0.9}.')

Стоимость заказа составила: 13100 . С учетом скидки в 5% — 12445.0.

In [253]:
date = '16.04.2019 15:59'
date = '12.05.2019 08:42'
#date = '05.07.2018 20:15'

date_1 = date.split()[0]
date, mounth, year = date_1.split('.')

cond_1 = int(mounth) >=  5
cond_2 = 1<= int(mounth) < 5
cond_0 = year == '2019'

if cond_1 and cond_0:
    category = 1
elif cond_2 and cond_0:
    category = 2
else:
    category = 3
print(category)

million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград']

city_info =

1

In [256]:
city_info = "Москва , не готов к переезду , готов к командировкам"
# 'Москва'

city_info = "Иваново , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам"
# 'Другое'

city_info = "Санкт-Петербург , готов к переезду (Сочи, Москва) , готов к командировкам"
# 'Санкт-Петербург'

city_info = "Новосибирск , готов к переезду, не готов к командировкам"
# 'Город миллионник'
million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград']

city_сandidate = city_info.split(' , ')[0]

if city_сandidate == "Москва" or city_сandidate == "Санкт-Петербург":
    city = city_сandidate
elif city_сandidate in million_cities:
    city = 'Город миллионник'
else:
    city = 'Другое'
print(city)

Город миллионник

# Обработка исключений

try:

    *Код в котором может быть ошибка*

except Ошибка:

    *код что будет выводится при ошибке*

else:

    *код, который выполнится в случае выполнения блока try:*

finally:

    *Код который выполнится в любом случае*

In [259]:
try:
    print('Введите число a и б')
    a = int(input('введи делимое',))
    b=  int(input('введи делитель',))
    print(f'{a} / {b} = {a/b}')
except ZeroDivisionError as e:
    print(f'при делении на ноль появится ошибка {e}')
else:
    print('Все поделилось')
finally:
    print('а мне вообще похуй')

Введите число a и б
5 / 3 = 1.6666666666666667
Все поделилось
а мне вообще похуй

# Отбивка всех ошибок except Exceprtion

In [263]:
key_1, key_2 = 'a', 'b'
my_dict = {'a': 10, 'b': '5.214', 'c': 'simple_string'}

try:
    value_1,value_2 = float(my_dict[key_1]),float(my_dict[key_2])
    new_value = value_2+value_1
except Exception as e:
    print(f'код азверился с ошибкой {e}')

In [264]:
medicines = {'Ибупрофен': 99, 'Эспумизан': 279, 'Пенталгин': 119}
name = 'Визин'
# Такого ключа в словаре нет

medicines = {'Ибупрофен': 99, 'Эспумизан': 279, 'Пенталгин': 119}
name = 'Ибупрофен'
# 99

try:
    print(medicines[name])
except Exception as e:
    print('Такого ключа в словаре нет')

99

In [267]:
age = int(input('How old are you?',))
if age > 100 or 0 >= age:
    raise ValueError('You are too old or don"t exist')

In [273]:
try:
    age = int(input('How old are you',))
    if age > 100 or age <= 0:
        raise ValueError('You are too old or don"t exist')
except ValueError:
    print('Wrond age')
else:
    print(f'You are {age} years old!')

Wrond age

In [276]:
number = int(input('write number',))
try:
    if number == 0:
        raise ZeroDivisionError
except ZeroDivisionError:
    print(('You are going to devide by zero'))
else: 
    print(100/number)

You are going to devide by zero

# В модуле мы познакомились с:
1. логическими операторами
2. операторы првоерки эквивалентности и вхождения элемента в последовательность
3. условные операторы if-else
4. исключения и их обработка

In [277]:
# пример тернарного оператора
x = 5 if 'sttt' == 'papa' else 7
x

7

In [278]:
lst=[90, 230, 23]
print(len(lst))

3

In [280]:
lst=[90, 230, 23]
lst[1:2]
lst[1]

230

In [281]:
sentences = 'East or West home is best'
sentences = sentences.lower()
sentences

'east or west home is best'

In [282]:
sentences = 'East or West home is best'
sentences[:10]

'East or We'

In [283]:
age = 10
print(f'Your age is {age}, welcome')

Your age is 10, welcome

In [284]:
sentences = 'East or West home is best'
list_sentences = list(sentences.split(' '))
print(list_sentences)

['East', 'or', 'West', 'home', 'is', 'best']